.calendar {
  margin-right: 18px;
  border: 1px solid $color-border;
  border-radius: 5px;
  margin-left: 6px;
  margin-bottom: 20px;
  .heading {
    height: 51px;
    background-color: #f6f5f6;
    border-bottom: 1px solid #d6d6d6;
    font: 700 21px $font;
    color: $font-color;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    margin-bottom: 12px;
    position: relative;
    &:before, &:after {
      position: absolute;
      top: 0;
      color: #e0e0e0;
      content: $icon-left;
      font-size: 29px;
      font-family: 'ui-kit' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 51px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      cursor: pointer;
    }
    &:before {
      left: 25px;
    }
    &:after {
      right: 25px;
      transform: rotate(180deg);
    }
  }
  .weekdays {
    padding: 16px;
    padding-top: 0;
    cursor: default;
    border-bottom: 1px solid $color-border;
    li {
      display: inline-block;
      width: 13.48%;
      text-align: center;
      text-transform: uppercase;
      font: 400 18px $font;
      color: $font-color;
      letter-spacing: 2px;
    }
  }
  .days {
    padding: 11px 16px 14px 16px;
    li {
      display: inline-block;
      text-align: center;
      width: 12.31%;
      box-sizing: border-box;
      color: $font-color;
      font: 400 18px $font;
      letter-spacing: 2px;
      border: 1px solid #dbdbdb;
      border-radius: 50%;
      line-height: 38px;
      margin: 5.5px 2px;
      cursor: pointer;
      &.active {
        background-color: $color-red;
        position: relative;
        border: 0;
        border-radius: 0;
        color: #fff;
        &:after {
          content: "";
          width: 90%;
          height: 38px;
          position: absolute;
          background-color: $color-red;
          left: 87%;
        }
      }
      &.active:nth-child(7n+1) {
        border-radius: 50% 0 0 50%;
      }
      &.active:nth-child(7n+7) {
        border-radius: 0 50% 50% 0;
        &:after {
          content: "";
          width: 0%;
          height: 0px;
          position: absolute;
          background-color: $color-red;
          left: 87%;
        }
      }

      &.active.active-to, &.active.active-from, {
        background-color: #fff;
        color: $color-red;
        border: 1px solid $color-red;
        border-radius: 50%;
        z-index: 999;
        &:after {
          width: 0%;
          height: 0px;
        }
      }

      &.active.active-from + .active {
        &:before {
          content: "";
          width: 90%;
          height: 38px;
          position: absolute;
          background-color: $color-red;
          right: 77%;
          z-index: 5;
        }
      }

    }
    .empty {
      color: transparent;
      background-color: $background-color-hover;
      border-color: $background-color-hover;
    }
  }
}
