.checkboxes {
  margin-top: 0.688em; /* 11/16 */
  @media screen and (max-width: $screen-xs) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.checkbox {
		display: inline-block;
		cursor: pointer;
		font: 400 1.25em $font; /* 20/16 */
    color: $font-color;
    margin-right: 2em; /* 40/20 */
    line-height: 0.9em; /* 18/20 */
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 1em;
      margin-right: 0;
    }

    &:before {
  		content: "";
      color: white;
  		display: inline-block;
  		width: 2.091em; /* 23/11 */
  		height: 2.091em; /* 23/11 */
  		vertical-align: text-top;
  		background-color: white;
  		text-align: center;
      border: 0.182em solid $font-color-input; /* 2/11 */
      border-color: $font-color-input;
  		border-radius: 0.455em; /* 5/11 */
      margin-right: 0.909em; /* 10/11 */
      font-family: 'ui-kit' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 0.55em; /* 11/20 */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 2.273em; /* 25/11 */
      transition: all .2s ease-in;
  	}
    &.hover:before {
      background-color: white;
      border-color: $color-green;
    }

    &:hover.checkbox:before {
      background-color: white;
      border-color: $color-green;
    }

	}
	input[type=checkbox] {
		display:none;
	}
	input[type=checkbox]:checked + .checkbox:before {
		content: "\e90e";
    color: $color-green;
    background-color: #ecfdc9;
    border-color: $color-green;
	}
