.checkboxes {
  margin-top: 11px;
}

.checkbox {
		display: inline-block;
		cursor: pointer;
		font: 400 20px $font;
    color: $font-color;
    margin-right: 40px;
    line-height: 18px;

    &:before {
  		content: "";
      color: white;
  		display: inline-block;
  		width: 23px;
  		height: 23px;
  		vertical-align: text-top;
  		background-color: white;
  		text-align: center;
      border: 2px solid $font-color-input;
      border-color: $font-color-input;
  		border-radius: 5px;
      margin-right: 10px;
      font-family: 'ui-kit' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 11px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 25px;
      transition: all .2s ease-in;
  	}
    &.hover:before {
      background-color: white;
      border-color: $color-green;
    }

    &:hover.checkbox:before {
      background-color: white;
      border-color: $color-green;
    }

	}
	input[type=checkbox] {
		display:none;
	}
	input[type=checkbox]:checked + .checkbox:before {
		content: "\e90e";
    color: $color-green;
    background-color: #ecfdc9;
    border-color: $color-green;
	}
