header {
  height: 5.625rem;
  overflow: hidden;
  background-color: $background-color;
  box-shadow: 0 0.063em 0 rgba(0, 0, 0, .1); /* 1/16 */
  @media screen and (max-width: $screen-sm) {
    height: 100%;
  }

  .header-stripe {
    height: .4375rem;
    background: repeating-linear-gradient(to right, $color-red 9.375em, $color-red 18.75em, $color-orange 18.75em, $color-orange 28.125em, $color-green 28.125em, $color-green 37.5em, $color-blue 37.5em, $color-blue 46.875em); /* 150/16, 300/16, 300/16, 450/16, 450/16, 600/16, 600/16, 750/16 */
  }

  .header-wrapper {
    margin: 0 auto;
    font-size: 1rem;

    .header-list {
      font: 400 1.5em $font;
      color: $font-color;
      float: left;
      margin-left: .25em;
      @media screen and (max-width: $screen-sm) {
        width: 100%;
        margin: 0;
      }

      li {
        float: left;
        padding: 0 1.1666em;
        line-height: 3.49em;
        cursor: pointer;
        background: $background-color;
        -webkit-transition: background-color .5s;
        transition: background-color .5s;
        &:hover {
          background: $background-color-hover;
          -webkit-transition: background-color 0s;
          transition: background-color 0s;
        }
        @media screen and (max-width: $screen-sm) {
          line-height: 2.6em;
        }

        a {
          color: $font-color;
          @media screen and (max-width: $screen-sm) {
            font-size: 0.8em;
          }
        }

        @media screen and (max-width: $screen-sm) {
          float: none;
          text-align: center;
        }
      }
    }

    .nav-right {
      float: right;
      @media screen and (max-width: $screen-sm) {
        width: 100%;
        padding: 0 1.3em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        font-size: 0.8em;
      }
    }

    i {
      font-size: 2.1875em;
      color: $font-color-input;
    }

    .search {
      margin: 1em 1.5625em 1em 0;
      float: left;
      height: 3.375em;
      padding: 0 1.375em 0 0.938em; /* 22/16, 15/16 */
      background-color: white;
      border: 0.063em solid #d5d5d5; /* 1/16 */
      border-radius: 0.313em; /* 5/16 */

      @media screen and (max-width: $screen-sm) {
        border: 0;
        padding: 0;
        margin: 1em;
        background-color: transparent;
      }

      input {
        border: 0;
        width: 13.636em; /* 300/22 */
        height: 100%;
        font: 400 1.375em $font; /* 22/16 */
        color: $font-color;
        @media screen and (max-width: $screen-sm) {
          display: none;
        }
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          display: none;
        }
        &::-webkit-input-placeholder {
          color: $font-color-input;
        }
        &::-moz-placeholder {
          color: $font-color-input;
        }
      }
      button {
        width: 1.75em; /* 28/16 */
        height: 1.875em; /* 30/16 */
        float: right;
        padding: 0;
        margin-top: 0.563em; /* 9/16 */
        border: 0;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        @media screen and (max-width: $screen-sm) {
          font-size: 1.1em;
        }
        .icon-magnifier {
          font-size: 2em;
        }
        &:focus {
          outline: none;
        }
        &:hover i {
          color: $font-color-hover;
        }
      }
    }

    .notifications {
      float: left;

      .alert, .message {
        float: left;

        i {
          position: absolute;
        }

        a {
          display: block;
          width: 1.875em; /* 30/16 */
          height: 2.188em; /* 35/16 */
          padding: 1.625em 1.25em; /* 26/16, 20/16 */

          &:hover i {
            color: $font-color-hover;
          }
        }
      }



      .badge {
        position: relative;

        span{
          position: absolute;
          top: -1.176em; /* -20/17 */
          right: -1.176em; /* -20/17 */
          display: block;
          width: 2.118em; /* 36/17 */
          height: 2.118em; /* 36/17 */
          font: 400 1.063em $font; /* 17/16 */
          background-color: $color-red;
          text-align: center;
          line-height: 2.118em; /* 36/17 */
          border-radius: 50%;
          color: #fff;
          border: 0.176em solid $background-color; /* 3/17 */
        }
      }
    }

    .user {
      width: 2.75em; /* 44/16 */
      height: 2.75em; /* 44/16 */
      float: left;
      margin: 0 1.25em; /* 20/16 */
      a {
        display: block;
        height: 2.5em; /* 40/16 */
      }
      img {
        width: 100%;
        padding-top: 1.25em; /* 20/16 */
        border-radius: 50%;
      }
    }
  }
}
