.pie-chart {
  padding-top: 37px;
  padding-left: 16px;
  .pie {
    width: 128px;
    height: 128px;
    display: block;
    border-radius: 50%;
    background-color: $background-color-secondary;
    float: left;
    margin: 0 56px 10px 10px;
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }

  .value {
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      width: 108px;
      height: 108px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 10px;
      transition: all .3s;
    }
    &:hover.value:before {
      width: 110px;
      height: 110px;
      top: 5px;
      left: 5px;
    }
    span {
      position: absolute;
      width: 100%;
      font: 200 43px $font;
      text-align: center;
      color: $font-color;
      line-height: 125px;
    }
    &:hover span {
      font-size: 36px;
      transition: font-size .3s;
    }
  }

  .p60 {
    background-image:
    linear-gradient(140deg, transparent 50%, $color-green 50%),
    linear-gradient(90deg, transparent 50%, $color-green 50%);
  }
  .p75 {
    background-image:
    linear-gradient(180deg, transparent 50%, $color-green 50%),
    linear-gradient(90deg, transparent 50%, $color-green 50%);
  }
}
