.radios {
  margin-top: 38px;
}

.radio {
  display: inline-block;
  cursor: pointer;
  font: 400 20px "Source Sans Pro",sans-serif;
  color: $font-color;
  margin-right: 40px;
  line-height: 18px;
  &:before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: text-top;
    background-color: white;
    color: white;
    text-align: center;
    line-height: 10px;
    font-size: 72px;
    border-radius: 50%;
    border: 2px solid $font-color-input;
    border-color: $font-color-input;
    margin-right: 10px;
    transition: all .2s ease-in;
  }
  &.hover:before {
    background-color: white;
    border-color: $color-green;
    border-color: $color-green;
  }
  &:hover.radio:before {
    background-color: white;
    border-color: $color-green;
    border-color: $color-green;
  }
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .radio:before {
  content: "\2022";
  background-color: #ecfdc9;
  border-color: $color-green;
  color: $color-green;
}
