.radios {
  margin-top: 2.375em; /* 38/16 */
}

.radio {
  display: inline-block;
  cursor: pointer;
  font: 400 1.25em "Source Sans Pro",sans-serif; /* 20/16 */
  color: $font-color;
  margin-right: 2em; /* 40/20 */
  line-height: 0.9em; /* 18/20 */
  &:before {
    content: "";
    display: inline-block;
    width: 0.319em; /* 23/72 */
    height: 0.319em; /* 23/72 */
    vertical-align: text-top;
    background-color: white;
    color: white;
    text-align: center;
    line-height: 0.139em; /* 10/72 */
    font-size: 3.6em; /* 72/20 */
    border-radius: 50%;
    border: 0.028em solid $font-color-input; /* 2/72 */
    border-color: $font-color-input;
    margin-right: 0.139em; /* 10/72 */
    transition: all .2s ease-in;
  }
  &.hover:before {
    background-color: white;
    border-color: $color-green;
    border-color: $color-green;
  }
  &:hover.radio:before {
    background-color: white;
    border-color: $color-green;
    border-color: $color-green;
  }
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + .radio:before {
  content: "\2022";
  background-color: #ecfdc9;
  border-color: $color-green;
  color: $color-green;
}
