.sign-in {
  margin-right: 36px;
  border: 1px solid $color-border;
  border-radius: 5px;
  overflow: hidden;
  clear: both;
  margin-bottom: 60px;

  .heading {
    height: 48px;
    background-color: #f6f5f6;
    border-bottom: 1px solid #d6d6d6;
    font: 700 21px $font;
    color: $font-color;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 49px;
    letter-spacing: 2px;
  }

  .inputs {
    margin-top: 35px;
  }

  p {
    padding: 0 32px;
    position: relative;
    margin-bottom: 18px;
  }

  i {
    position: absolute;
    top: 0;
    font-size: 21px;
    line-height: 48px;
    color: #ccc;
    width: 57px;
    text-align: center;
  }

  input {
    width: 100%;
    padding-left: 55px;
    box-sizing: border-box;
    height: 45px;
    font: 400 20px $font;
    color: #333;
    border: 1px solid $color-input;
    border-radius: 5px;
    &:focus {
      border-color: $color-blue;
      outline: none;
    }
    &::-webkit-input-placeholder {
      font: 400 20px $font;
      color: #ccc;
    }
    &::-moz-placeholder {
      font: 400 20px $font;
      color: #ccc;
    }
  }

  .focused {
    input {
      border-color: $color-blue;
      outline: none;
    }
    i {
      color: $color-blue;
    }
  }

  button {
    float: right;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: $color-blue;
    width: 142px;
    height: 48px;
    border: 0;
    border-radius: 5px;
    color: white;
    font: 600 23px $font;
    cursor: pointer;
    margin-top: 5px;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #337ebc;
    }
  }
}

input:focus + i {
  color: $color-blue;
}
