.sliders {
  margin: 17px 5px 34px 34px;
  .slider-1 {
    padding-top: 34px;
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: none;
        border-radius: 3px;
        background-color: $background-color-secondary;
        height: 8px;
        vertical-align: middle;
        width: 100%;
        &:focus {
          outline: none;
        }
    }
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 3px;
        background-color: $background-color-secondary;
        height: 8px;
        vertical-align: middle;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        border: 5px solid #fff;
        height: 10px;
        width: 10px;
        vertical-align: middle;
        box-sizing: border-box;
        box-shadow: 0 0 0 6px $color-blue;
    }
    input[type='range']::-moz-range-track {
        -moz-appearance: none;
        appearance: none;
        border-radius: 3px;
        background-color: $background-color-secondary;
        height: 8px;
        vertical-align: middle;
        height: 8px;
        vertical-align: middle;
        margin:0;
        padding:0;
    }
    input[type='range']::-moz-range-thumb {
        -moz-appearance: none;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        border: 5px solid #fff;
        height: 1px;
        width: 1px;
        vertical-align: middle;
        box-sizing: border-box;
        box-shadow: 0 0 0 6px $color-blue;
    }
    .rangevalue {
      position: absolute;
      top: 0;
      left: 30%;
      margin-left: -15px;
      padding: 5px 10px;
      background-color: $color-blue;
      color: #fff;
      border-radius: 5px;
      z-index: -1;
      &:after {
        position: absolute;
        content: "";
        text-align: center;
        color: $color-blue;
        content: $icon-arrow;
        top: 0;
        left: 33%;
        font-size: 7px;
        font-family: 'ui-kit' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 55px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  .slider-2 {
    width: 100%;
    margin: 0 2px 0 2px;
    margin-bottom: 37px;
    padding: 20px 0;
    overflow: hidden;
    .slider-range {
      border-radius: 3px;
      background-color: $background-color-secondary;
      height: 8px;
      position: relative;
      z-index: 1;
    }
    .ui-slider-range {
      position: absolute;
      border-radius: 3px;
      left: 10%;
      width: 65%;
      top: 0;
      height: 100%;
      z-index: 2;
      background-color: $color-green;
    }
    .ui-slider-handle-first {
      display: block;
      cursor: pointer;
      position: absolute;
      border-radius: 50%;
      left: 10%;
      background-color: #fff;
      color: #fff;
      border: 5px solid #fff;
      height: 10px;
      width: 10px;
      box-sizing: border-box;
      box-shadow: 0 0 0 6px $color-green;
      z-index: 2;
    }
    .ui-slider-handle-second {
      display: block;
      cursor: pointer;
      position: absolute;
      border-radius: 50%;
      left: 75%;
      background-color: #fff;
      color: #fff;
      border: 5px solid #fff;
      height: 10px;
      width: 10px;
      box-sizing: border-box;
      box-shadow: 0 0 0 6px $color-green;
      z-index: 2;
    }
    ul.heading-values {
      margin-top: 20px;
      position: relative;
      width: 100%;
      li {
        position: absolute;
        top: 0;
        font: 600 18px $font;
        color: $font-color;
      }
      li:nth-child(2) {
        left: 20%;
      }
      li:nth-child(3) {
        left: 45%;
      }
      li:nth-child(4) {
        left: 70%;
      }
      li:nth-child(5) {
        right: 0;
      }
    }
  }
  .slider-3 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    .slider-range {
      width: 75%;
      margin-top: 7px;
      float: left;
      border-radius: 3px;
      background-color: $background-color-secondary;
      height: 8px;
      position: relative;
      z-index: 1;
    }
    .ui-slider-range {
      border-radius: 3px;
      position: absolute;
      left: 0;
      width: 86%;
      top: 0;
      height: 100%;
      z-index: 2;
      background-color: $color-orange;
    }
    .ui-slider-handle {
      display: block;
      cursor: pointer;
      position: absolute;
      border-radius: 50%;
      left: 86%;
      background-color: #fff;
      color: #fff;
      border: 5px solid #fff;
      height: 10px;
      width: 10px;
      box-sizing: border-box;
      box-shadow: 0 0 0 6px $color-orange;
      z-index: 2;
    }
    .value-from, .value-to {
      width: 10%;
      font: 600 18px $font;
      color: $font-color;
      float: left;
    }
    .value-to {
      width: 15%;
      text-align: right;
    }
  }
}
