//Colors
$background-color: #fafafa;
$background-color-hover: #f2f2f2;
$font-color: #777;
$font-color-hover: #999;
$font-color-input: #dedede;
$color-red: #ff7f68;
$color-orange: #ffa940;
$color-green: #a9cf55;
$color-blue: #4e90c7;

//Font
$font: "Source Sans Pro", sans-serif;

body {
  font-family: $font;
}

section {
  margin: 0 auto;
  padding: 50px 30px;
}

.switches, .check-radios {
  float: left;
}


@import "font.scss";
@import "_header.scss";
@import "_switches.scss";
@import "_checkboxes.scss";
@import "_radio.scss";
