$icomoon-font-path: "../fonts" !default;

$icon-close: "\e900";
$icon-eye: "\e901";
$icon-friends: "\e902";
$icon-full-screen: "\e903";
$icon-heart: "\e904";
$icon-left: "\e905";
$icon-lock: "\e906";
$icon-magnifier: "\e907";
$icon-male-user: "\e908";
$icon-play-button: "\e909";
$icon-arrow: "\e90a";
$icon-speakera: "\e90b";
$icon-bell: "\e90c";
$icon-bubble: "\e90d";
$icon-check: "\e90e";
